<div class="modal" *ngIf="this.modal.popup">
  <div class="pop-up" [class.error]="this.modal.err">
    <h3>{{modal.header}}</h3>
    <div>
      <P *ngFor="let m of modal.msg">{{m}}</P>
    </div>
    <div>
      <button (click)="this.modal.setok()">Ok</button>
      <button (click)="this.modal.setcancel()" *ngIf="this.modal.cvisible">Cancel</button>
    </div>
  </div>
</div>
<nav class="nav-bar">
  <ul class="left">
    <p>ExTrack</p>
    <a [routerLink]="home" routerLinkActive="active">Home</a>
    <a [routerLink]="planner" routerLinkActive="active">Expense Planner</a>
    <a [routerLink]="tracker" routerLinkActive="active">Expense Tracker</a>
  </ul>
  <ul class="right">
      <a (click)="logout()" routerLink="/logout" routerLinkActive="active" *ngIf="this.jwthandler.gettoken();else elseblock">Logout</a>
    <ng-template #elseblock>
      <a [routerLink]="login" routerLinkActive="active">Login</a>
      <a [routerLink]="register" routerLinkActive="active">Register</a>
    </ng-template>
  </ul>
</nav>
<router-outlet />
