.base-h{
    /* background-color: aqua; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content:space-evenly;
    align-items: center;
    flex-wrap: wrap-reverse;
    min-height: 93vh;
    min-width: 100vw;
}
.base-v-1{
    border: 3px outset gold;
    border-radius: 3%;
    background-color: beige;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    align-content:space-around;
    align-items:center;
    min-height: 50vh;
    max-height: 70vh;
    min-width: 50vw;
    max-width: 100vw;
}
.div-h-1{
    margin-top: 3px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
.div-h-2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    max-width: 25vw;
    min-width: 15vw ;
    align-items: baseline;
    flex-wrap: wrap;

}
.div-h-2 input{
    width: 7vw;
}
.pagination{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    min-height: 3vh;
    width: 100%;
}
.pgno{
    padding-left: 4px;
    padding-right: 4px;
    cursor: pointer;
}
.pgno:hover{
    background-color: lightsteelblue;
}
.active{
    background-color: lightslategrey;
}
.perpg{
    height: 2.8vh;
    margin-left: 3px;
    margin-right: 1.5vw;
}
.pg-grp{
    margin-right: 1.5vw;
    margin-left: 1.5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 8vw;
    overflow: hidden;
    flex-wrap: nowrap;

}
.pg-grp:hover{
    overflow-x: auto;
    scrollbar-width: thin;
    scrollbar-color: rgba(184, 135, 11, 0.5);
}
.base-v-2{
    border: 3px outset gold;
    border-radius: 3%;
    background-color: beige;
    color: black;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
    align-content:space-around;
    align-items:center;
    min-height: 50vh;
    max-height: 70vh;
    min-width: 40vw;
    max-width: 100vw;
    overflow-y: auto;
}
h3{
    margin: 0%;
    background-color: lightgrey;
    padding: 3px;
    border: 2px groove gold;
    border-radius: 3px;
    text-wrap: wrap;
}
form{
    /* background-color: brown; */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items:center;
    flex-wrap: wrap;
    width: 100%;
    height: 35%;
}
.div-v-1{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-content: center;
    align-items: flex-start;
    height: 100%;
}
.div-v-2{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: flex-start;
}
.invalid{
    border-color: crimson;
    border-style:groove;
    border-radius: 3px;
}
.error{
    color: crimson;
}
.notify{
    color:darkgreen ;
}
.button{
    margin-top: 4px;
    margin-bottom: 4px;
    background-color: darkgrey;
    border-color: gold;
    border-radius: 3px;
    cursor: pointer;
}
.button:hover{
    background-color: lightgrey;
    border-color: darkgoldenrod;
}
app-display{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    width: 100%;
}