<div class="base-h">
    <div class="base-v-2">
        <div class="div-h-1">
            <h3>Inflow :</h3>
            <button class="button" (click)="loadrecords('in')">Load Previous Records</button>
        </div>
        <form #inflow="ngForm" (ngSubmit)="(inflow.form.valid)? submit(inflow.form) : nosubmit(inflow.form)">
            <div class="div-v-1">
                <div class="div-v-2">
                    <label>Date* :</label>
                    <input #indt="ngModel" type="date" required [class.invalid]="indt.touched && indt.invalid" name="indt" [(ngModel)]="entryin.date">
                    <small class="error" *ngIf="indt.touched && indt.invalid">Date required.</small>
                </div>
                <div class="div-v-2">
                    <label>Amount* :</label>
                    <input #inamt="ngModel" type="number" min="0" step="0.01" required [class.invalid]="inamt.touched && inamt.invalid" name="inamt" [(ngModel)]="entryin.amount">
                    <small class="error" *ngIf="inamt.errors?.['required'] && inamt.touched">Amount required.</small>
                    <small class="error" *ngIf="inamt.errors?.['min'] || inamt.errors?.['step']">Enter a proper amount.</small>
                </div>
            </div>
            <div class="div-v-1">
                <div class="div-v-2">
                    <label>Particulars :</label>
                    <input #source="ngModel" type="text" maxlength="50" name="source" [(ngModel)]="entryin.details">
                </div>
                <div class="div-v-2">
                    <label>Inflow Type :</label>
                    <select #intype="ngModel" name="intype" [(ngModel)]="entryin.type">
                        <option selected value="">Select Type</option>
                        <option *ngFor="let t of type" value="{{t}}">{{t}}</option>
                    </select>
                </div>
            </div>
            <button class="button" type="submit">Enter</button>
        </form>
        <br>
        <div class="div-h-1">
            <h3>Outflow :</h3>
            <button class="button" (click)="loadrecords('out')">Load Previous Records</button>
        </div>
        <form #outflow="ngForm" (ngSubmit)="(outflow.form.valid)? submit(outflow.form) : nosubmit(outflow.form)">
            <div class="div-v-1">
                <div class="div-v-2">
                    <label>Date* :</label>
                    <input #outdt="ngModel" type="date" required [class.invalid]="outdt.touched && outdt.invalid" name="outdt" [(ngModel)]="entryout.date">
                    <small class="error" *ngIf="outdt.touched && outdt.invalid">Date required.</small>
                </div>
                <div class="div-v-2">
                    <label>Amount* :</label>
                    <input #outamt="ngModel" type="number" min="0" step="0.01" required [class.invalid]="outamt.touched && outamt.invalid" name="outamt"[(ngModel)]="entryout.amount">
                    <small class="error" *ngIf="outamt.errors?.['required'] && outamt.touched">Amount required.</small>
                    <small class="error" *ngIf="outamt.errors?.['min'] || outamt.errors?.['step']">Enter a proper amount.</small>
                </div>
            </div>
            <div class="div-v-1">
                <div class="div-v-2">
                    <label>Particulars :</label>
                    <input #expense="ngModel" type="text" maxlength="50" name="expense" [(ngModel)]="entryout.details">
                </div>
                <div class="div-v-2">
                    <label>Expense Type :</label>
                    <select #extype="ngModel" name="extype" [(ngModel)]="entryout.type">
                        <option selected value="">Select Type</option>
                        <option *ngFor="let t of type" value="{{t}}">{{t}}</option>
                    </select>
                </div>
            </div>
            <button class="button" type="submit">Enter</button>
        </form>
    </div>
    <div class="base-v-1">
        <div class="div-h-1">
            <div class="div-h-2">
                <label>Net Ins:</label>
                <input class="notify" type="number" [value]="netin" readonly>
            </div>
            <div class="div-h-2">
                <label>Proceeds:</label>
                <input [class.error]="result <= 0" [class.notify]="result > 0" type="number" [value]="result" readonly>
            </div>
            <div class="div-h-2">
                <label>Net Outs:</label>
                <input class="error" type="number" [value]="netout" readonly>
            </div>  
        </div>
        <app-display #displayt (inevent)="ediletein($event)" (outevent)="edileteout($event)"></app-display>
        <div class="pagination">
             <div class="div-h-2" *ngIf="intrue">
                <div class="pg-grp">
                    <small class="pgno" (click)="setrecords('in',i)" *ngFor="let i of inpgtl" [class.active]="i===inactive">{{i}}</small>
                </div>
                <small>Entry per page:</small>
                <select #inrange class="perpg" (change)="inn=toint(inrange.value);pagination('in')">
                    <option *ngFor="let p of perpg" value="{{p}}">{{p}}</option>
                </select>
             </div>
             <div class="div-h-2" *ngIf="outtrue">
                <div class="pg-grp">
                    <small class="pgno" (click)="setrecords('out',i)" *ngFor="let i of outpgtl" [class.active]="i===outactive">{{i}}</small>
                </div>
                <small>Entry per page:</small>
                <select #outrange class="perpg" (change)="outn=toint(outrange.value);pagination('out')">
                    <option *ngFor="let p of perpg" value="{{p}}">{{p}}</option>
                </select>
             </div>
        </div>
    </div>
</div>

